doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    title Création de compte
  body
    .container
      .message
        p Bonjour #{name},
        p Votre compte a été créé avec succès, vous pouvez vous connecter avec vos identifiants suivants :
        p Lien : #{link}
        p Email : #{email}
        p Mot de passe : #{password}
      .note
        p Si vous n'avez pas créé ce compte,
        p veuillez ignorer ce message.
      .footer
        | Ce message est adressé à 
        strong #{email} 
        | dans le cadre de la création de votre compte DESPS.